BODY {
	BACKGROUND-COLOR:#EEFF4FF; COLOR:#00007d; SCROLLBAR-FACE-COLOR: #C6D5FD; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #B8CBF6; SCROLLBAR-SHADOW-COLOR: #Ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #FFffFF; SCROLLBAR-ARROW-COLOR: #4d6185; SCROLLBAR-TRACK-COLOR: #fbfbfb; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; SCROLLBAR-DARKSHADOW-COLOR: #A0B5D3; TEXT-DECORATION: none
}
.menu{
	BACKGROUND-COLOR:#3369db; COLOR:#FFFFFF;
}
.main{
	BACKGROUND-COLOR:#eef4ff; COLOR:#00007d;font-size:12px;
}
.seltable{
	BACKGROUND-COLOR:#3369db;
}
.seltd{
	BACKGROUND-COLOR:#ffffff;
}

A{COLOR: #00007d ;font-size:12px;TEXT-DECORATION: NONE}
A:link{COLOR: #00007d ;TEXT-DECORATION: NONE}
A:visited{COLOR: #00007d ;TEXT-DECORATION: NONE}
A:hover{COLOR: red ;}