BODY { SCROLLBAR-FACE-COLOR: #e3f4ff; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #E3F4FF; SCROLLBAR-SHADOW-COLOR: #BFE5FF; SCROLLBAR-3DLIGHT-COLOR: #E3F4FF; SCROLLBAR-ARROW-COLOR: #6AB2E4; SCROLLBAR-TRACK-COLOR: #fbfbfb; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; SCROLLBAR-DARKSHADOW-COLOR: #a0b5d3; TEXT-DECORATION: none; COLOR: #000000; FONT-FAMILY: ו; FONT-SIZE: 9pt; margin-top: 32px; margin-left: 10px; background-color: #ffffff } 
TABLE { FONT-FAMILY: ו; FONT-SIZE: 9pt } 
TD { FONT-FAMILY: "ו", "Arial", "Times New Roman"; FONT-SIZE:9pt } 
A:link { COLOR: #484848; FONT-SIZE: 9pt; TEXT-DECORATION: none } 
A:visited { COLOR: #484848; FONT-SIZE: 9pt; TEXT-DECORATION: none } 
A:active { COLOR: #484848;FONT-SIZE: 9pt; TEXT-DECORATION: none } 
A:hover { COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none }
.bg_line { width: 94%; background-image: url(../images/bg_line2.gif); height: 26px; text-align: left }
.bg_tit1 { background-image: url(../images/bg_tit1.gif); float: left; width: 81px; padding-top: 8px; height: 26px; text-align: center }
.bg_tit2 { background-image: url(../images/bg_tit2.gif); float: left; width: 81px; padding-top: 8px; height: 26px; text-align: center }
.bg_layer { width: 94%; border-left: #6ab2e4 1px solid; border-bottom: #6ab2e4 1px solid; border-right: #6ab2e4 1px solid; margin-bottom: 30px }
.bg_block { font-size: 1px; background-color: #e3f4ff; height: 8px }
.clear { clear: both; font-size: 1px; visibility: hidden; width: 1px; line-height: 1px }
.info_block { width: 100%; padding-left: 1px; padding-right: 2px }
.tab6 { width: 920px; background-color: #E4E4E4; margin-top: 28px; margin-left: 18px }
.tab7 { width: 630px; margin-top: 5px; margin-left: 25px; margin-bottom: 18px }
.tab8 { width: 100% }
.bk_out { color: #484848  }
.bk_over { color: #000000; cursor: hand }
.td1 { width: 22%; height: 20px; padding-top: 5px; text-align: center; background-color: #F3F3F3; letter-spacing: 1px }
.td2 { width: 15%; height: 20px; padding-top: 5px; text-align: center; background-color: #F3F3F3; letter-spacing: 1px }
.td3 { width: 20%; height: 20px; padding-top: 5px; text-align: center; background-color: #F3F3F3; letter-spacing: 1px }
.td4 { width: 43%; height: 20px; padding-top: 5px; text-align: center; background-color: #F3F3F3; letter-spacing: 1px }
.td16 { width: 22%; text-align: left; padding-left: 15px }
.td161 { width: 10%; text-align: left }
.td162 { width: 2%; text-align: left }
.td163 { padding-top: 5px; color: #484848 }
.td17 { width: 15%; text-align: left; padding-left: 15px; color: #484848 ; font-weight: bold}
.td18 { width: 20%; text-align: left; color: #484848 }
.td19 { width: 40%; text-align: left; padding-top: 5px; padding-left: 15px; color: #484848 }
