BODY {
	BACKGROUND-COLOR:#EEFF4FF; COLOR:#00007d; SCROLLBAR-FACE-COLOR: #C6D5FD; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #B8CBF6; SCROLLBAR-SHADOW-COLOR: #Ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #FFffFF; SCROLLBAR-ARROW-COLOR: #4d6185; SCROLLBAR-TRACK-COLOR: #fbfbfb; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; SCROLLBAR-DARKSHADOW-COLOR: #A0B5D3; TEXT-DECORATION: none
}

.ButtonTable
{
	BACKGROUND-IMAGE: url(../../images/view/a02.gif);
}
.MainTable
{
	BACKGROUND-COLOR: #073db8;
}
TR.MainTR1
{
    FONT-SIZE: 12px;
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
	BACKGROUND-COLOR:#ffffff;
}
TR.MainTR2
{
    FONT-SIZE: 12px;
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
	BACKGROUND-COLOR:#e1eafd;
}

TR.TitleTR
{
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; PADDING-TOP: 4px;
	Height:22px;
    FONT-SIZE: 12px;  
	BACKGROUND-COLOR: #5c8bf8;
	color:#ffffff;
}
TD.TitleTD
{
    FONT-SIZE: 12px;
	Height:22px;
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1);
	color:#333333; 
	cursor:hand;
}
TD.TitleTDnohand
{
    FONT-SIZE: 12px;
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1);
	color:#333333; 
}
.onmouseover{
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
	FONT-SIZE: 12px;	BACKGROUND-COLOR:#b3c9fd;
}


TD.TitleTDOver
{
    FONT-SIZE: 12px;
	FILTER: dropshadow(color=#cccccc,offx=0,offy=0);
	color:#666666;
	cursor:hand;
}
TD.TitleTDDown
{
    FONT-SIZE: 12px;
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1);
	color:#333333;
	cursor:hand;
}
A{COLOR: #0000ff ;font-size:12px;TEXT-DECORATION: NONE}
A:link{COLOR: #0000ff ;TEXT-DECORATION: NONE}
A:visited{COLOR: #0000ff ;TEXT-DECORATION: NONE}
A:hover{COLOR: red ;}


TD.formTitleTD
{
    FONT-SIZE: 12px;
    COLOR: Navy 
}
TD.formEditTD
{
    FONT-SIZE: 12px
}
TD.formEditRadio
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 1pt solid;
    BACKGROUND-COLOR: LightYellow 
}
.formEdit
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 1pt solid;
    BACKGROUND-COLOR: LightYellow;
    width:100%;
}
.formEditItem
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 1pt solid;
    BACKGROUND-COLOR: LightYellow;
    width:50%;
}
.formEditLevel
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 1pt solid;
    BACKGROUND-COLOR: LightYellow;
    width:30%;
}
INPUT.formEditnormal
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 1pt solid;
    BACKGROUND-COLOR: LightYellow;
}
INPUT.formEditRead
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 1pt solid;
    BACKGROUND-COLOR: ##cccccc;
    width:100%;
}
TEXTAREA.formEdit
{
    BORDER-RIGHT: 1pt solid;
    BORDER-TOP: 1pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 1pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 1pt solid;
    BACKGROUND-COLOR: LightYellow;
    width:100%;
}
.formtitle
{
    FONT-SIZE: 18px;
    COLOR: black;
	font-family: ו; 
	FONT-WEIGHT: bolder
}



INPUT.queryinput
{
    BORDER-RIGHT: 0pt solid;
    BORDER-TOP: 0pt solid;
    FONT-SIZE: 12px;
    BORDER-LEFT: 0pt solid;
    COLOR: teal;
    BORDER-BOTTOM: 0pt solid;
    width:100%;
}

TD.querynote
{
    FONT-SIZE: 12px;
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
	BACKGROUND-COLOR:#ffffff;
}

TD.queryinput
{
    FONT-SIZE: 12px;
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
	BACKGROUND-COLOR:#ffffff;
}
TD.querytitle
{
    FONT-SIZE: 12px;
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px;
	BACKGROUND-COLOR:#e1eafd;
}
TD.EndTD
{
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px;
	FONT-SIZE: 12px;
	BACKGROUND-COLOR:white;
}

.button
{
	border-style:groove
}


