.register_box{
	width:600px;
	height:300px;
	background:#fff;
}
.register_box .label{
	float:left;
	width:200px;
	height:51px;
	line-height:51px;
	cursor:pointer;
	cursor:hand;
}

.register_box .select{
	background:#fff;
	border-bottom:1px solid #f0f0f0;
	
	font-size:16px;
	font-family:宋体;
	color:#0099ff;
}

.register_box .unselect{
	background:#efefef;
	border-bottom:1px solid #cccccc;
	
	font-size:16px;
	font-family:宋体;
	color:#999999;
}

.register_box .input_box{
	width:310px;
	height:40px;
	border:1px solid #cdcdcd;
}

.register_box .username{
	background:url(../../net/images/icon_user.png) no-repeat;
	background-position:10px 8px;
}

.register_box .password{
	background:url(../../net/images/icon_pwd.png) no-repeat;
	background-position:10px 8px;
}

.register_box .safecode{
	background:url(../../net/images/icon_pwd.png) no-repeat;
	background-position:10px 8px;
}

.register_box .left_line{
	margin:4px 0 0 43px;
	border-left:1px solid #cccccc;
	height:32px;
	padding-left:10px;
}

.register_box .text_input{
	border:0;
	width:245px;
	height:32px;
	line-height:32px;
}
.default_Attachbtn{
	border:0;
	padding:0 10px;
	height:22px;
	line-height:24px;
	background:#80d1fc;
	
	font-family:宋体;
	font-size:13px;
	color:#ffffff;
	border:0;
	
}
.errorMsg{
    		color: red;
    		font-size: 12px;
    		float: right;
    		margin-top:-2.5em;
    		margin-right:2em;
    		display: none;
    		
    	}
    	.ableStyle{
    	    /* float:left !important; */
    	    width:100px !important;
    	    height:30px !important;
    	    line-height:40px !important;
    	    display:block;
			overflow:hidden !important;
			
			-moz-border-radius: 7px !important;
		    -webkit-border-radius: 7px !important;
		    border-radius:7px !important;
			
			background:#00a0e9 !important;
			font-family:宋体 !important;
			font-size:20px !important;
			color:#fff !important;
		}
		.disStyle{
		    /* float:left !important; */
    	    width:100px !important;
    	    height:30px !important;
    	    line-height:40px !important;
    	    display:block;
			overflow:hidden !important;
			
			-moz-border-radius: 7px !important;
		    -webkit-border-radius: 7px !important;
		    border-radius:7px !important;
			
			background:#cccccc !important;
			font-family:宋体 !important;
			font-size:20px !important;
			color:#fff !important;
		}
		#login:hover {
		    /* float:left !important; */
    	    width:100px !important;
    	    height:30px !important;
    	    line-height:40px !important;
    	    display:block;
			overflow:hidden !important;
			
			-moz-border-radius: 7px !important;
		    -webkit-border-radius: 7px !important;
		    border-radius:7px !important;
			
			background:#00a0e9 !important;
			font-family:宋体 !important;
			font-size:20px !important;
			color:#fff !important;
		}
		#sendEmail:hover{
		    width:100px !important;
    	    height:30px !important;
    	    line-height:40px !important;
    	    display:block;
			overflow:hidden !important;
			
			-moz-border-radius: 7px !important;
		    -webkit-border-radius: 7px !important;
		    border-radius:7px !important;
			
			background:#00a0e9 !important;
			font-family:宋体 !important;
			font-size:20px !important;
			color:#fff !important;  
		}
		.l-btn-text {
		  display: inline-block;
		  vertical-align: middle;
		  width: auto;
		  line-height: 24px;
		  font-size: 15px;
		  padding: 0;
		  margin: 0 4px;
		}
		.l-btn-left {
		  display: inline-block;
		  position: relative;
		  overflow: hidden;
		  margin: auto;
		  top:-5.5px;
		  padding: 0;
		 /*  vertical-align: middle; */
		}
		.l-btn-disabled,
		.l-btn-disabled:hover {
		  opacity: 1.0;
		  cursor: default;
		  background: #fafafa;
		  color: #444;
		  background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
		  background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
		  background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
		  background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
		  background-repeat: repeat-x;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
		}