/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
html,body{width:100%; height:100%;font-family:"ו";}




.tvmnb { BACKGROUND: url(../../images/nyt/left_topmenu.jpg) no-repeat; padding:0; height:34px;}
.tvmnb_1 {BACKGROUND:url(../../images/nyt/left_topmenu01.jpg) no-repeat; padding:0; height:34px;}
a.block_links{display:block; width:100px; height:30px; float:left; margin-right:0px!important; margin-left:0px;}
.leftNav{_height:100%; _width:248px;position:absolute; background-color:#FFFFFF; top:34px; left:0px; right:0; bottom:0; border-left:#78BAD2 1px solid;border-right:#78BAD2 1px solid;}
.show {DISPLAY: block; height:100%; overflow:auto;}
.hidden {DISPLAY: none;}
.leftMenuNav{position:absolute;top:0px; left:0px; bottom:0; right:0;}
.leftMenu{height:31px; background:url(../../images/nyt/left_r4_c4.jpg) repeat-x; text-align:left; padding-left:15px;font-size: 14px;color: #246f95;font-weight:900; overflow:hidden;}
.leftMenu01{ height:31px; background:url(../../images/nyt/left_r5_c4.jpg) repeat-x; text-align:left; padding-left:15px;font-size: 14px;color: #246f95;font-weight:900; overflow:hidden;}
.xiaMenu{_height:40px; background:url(../../images/nyt/left_bg.jpg) repeat-x; padding:15px;font-size:12px; vertical-align:top; }

.left01MenuNav{height:100%; position:absolute;top:0px; left:0px; bottom:0; right:0;}
.bottombg{height:7px; background:url(../../images/nyt/left01_r18_c2.jpg) repeat-x; overflow:hidden; text-align:center;}
.topbg{height:25px; background:url(../../images/nyt/left01_r4_c4.jpg) repeat-x; overflow:hidden; text-align:center; font-size:12px; color:#0081C3;}
.red{ color:red; font-weight:bolder;}


