/* CSS Document */
body {background:url(../../images/nyt/webbg.jpg) repeat-x;}
html,body{height:100%; margin:0; padding:0;}
.navPoint {color:white; cursor:hand; cursor:pointer; font:12px "ו";} 
.webl{background:url(../../images/nyt/webl.jpg) no-repeat top left; width:10px; overflow:hidden;}
.webr{background:url(../../images/nyt/webr.jpg) no-repeat top right; width:10px; overflow:hidden;}
.ConNav{background:url(../../images/nyt/webb.jpg) repeat-x bottom left; width:100%; height:100%; table-layout:fixed;}
