body,h1,h2,h3,h4,ul,ol,li,dl,p,form{ list-style:none; margin:0px; padding:0px;}

body, html, input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #0087ca;
	font-family:"ו";
}
.input{ border:#e1eaed 1px solid; height:16px; width:100%;background:#fff;}
.input01{ border:#e1eaed 0px solid; height:16px; width:100%;background:transparent;}
.bule{font-size:18px; font-weight:bolder;}
a {noFocusLine: expression(this.onFocus = this.blur () );}
:focus {-moz-outline-style: none}
a{color:#333;text-decoration: none;}
a:hover {color:#666;text-decoration: none;}
.font12{color:#333;}